body {
  margin: 0;
}

.Quote,
.Article,
.ComplexEntry {
  height: 100vh;
  text-align: center;
  display: flex;
  background-size: cover;
  color: White;
}

.ComplexEntry__center {
  max-width: 400px;
  margin: auto;
  background: rgba(0, 0, 0, 0.3);
  padding: 42px;
  border-radius: 5px;
  position: relative;
}

.ComplexEntry__left {
  left: -200px;
}
.ComplexEntry__right {
  right: -200px;
}
.ComplexEntry__top {
  top: -200px;
}
.ComplexEntry__bottom {
  bottom: -200px;
}

.Entry {
  height: 100vh;
  position: relative;
}

.Entry__content {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.V_center {
  flex: 1;
  align-self: center;
}
